{
  "swagger": "2.0",
  "info": {
    "title": "ContosoProviderHubClient",
    "version": "2021-10-01-preview",
    "description": "Contoso Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "BestPractices"
    },
    {
      "name": "BestPracticeVersions"
    }
  ],
  "paths": {
    "/providers/Microsoft.ContosoProviderHub/bestPractices": {
      "get": {
        "operationId": "BestPractices_ListByTenant",
        "tags": [
          "BestPractices"
        ],
        "description": "List a BestPractice",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BestPracticeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ContosoProviderHub/bestPractices/{bestPracticeName}": {
      "get": {
        "operationId": "BestPractices_Get",
        "tags": [
          "BestPractices"
        ],
        "description": "Get a BestPractice",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "bestPracticeName",
            "in": "path",
            "description": "The name of the best practice",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BestPractice"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "BestPractices_CreateOrUpdate",
        "tags": [
          "BestPractices"
        ],
        "description": "Create a BestPractice",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "bestPracticeName",
            "in": "path",
            "description": "The name of the best practice",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BestPractice"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BestPractice' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BestPractice"
            }
          },
          "201": {
            "description": "Resource 'BestPractice' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BestPractice"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "BestPractices_Update",
        "tags": [
          "BestPractices"
        ],
        "description": "Update a BestPractice",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "bestPracticeName",
            "in": "path",
            "description": "The name of the best practice",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BestPracticeUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BestPractice"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "BestPractices_Delete",
        "tags": [
          "BestPractices"
        ],
        "description": "Delete a BestPractice",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "bestPracticeName",
            "in": "path",
            "description": "The name of the best practice",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.ContosoProviderHub/bestPractices/{bestPracticeName}/versions": {
      "get": {
        "operationId": "BestPracticeVersions_ListByTenant",
        "tags": [
          "BestPracticeVersions"
        ],
        "description": "List a BestPractice",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "bestPracticeName",
            "in": "path",
            "description": "The name of the best practice",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BestPracticeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ContosoProviderHub/bestPractices/{bestPracticeName}/versions/{versionName}": {
      "get": {
        "operationId": "BestPracticeVersions_Get",
        "tags": [
          "BestPracticeVersions"
        ],
        "description": "Get a BestPractice",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "bestPracticeName",
            "in": "path",
            "description": "The name of the best practice",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionName",
            "in": "path",
            "description": "The name of the version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BestPractice"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "BestPracticeVersions_CreateOrUpdate",
        "tags": [
          "BestPracticeVersions"
        ],
        "description": "Create a BestPractice",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "bestPracticeName",
            "in": "path",
            "description": "The name of the best practice",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionName",
            "in": "path",
            "description": "The name of the version",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BestPractice"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BestPractice' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BestPractice"
            }
          },
          "201": {
            "description": "Resource 'BestPractice' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BestPractice"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "BestPracticeVersions_Update",
        "tags": [
          "BestPracticeVersions"
        ],
        "description": "Update a BestPractice",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "bestPracticeName",
            "in": "path",
            "description": "The name of the best practice",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionName",
            "in": "path",
            "description": "The name of the version",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BestPracticeUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BestPractice"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "BestPracticeVersions_Delete",
        "tags": [
          "BestPracticeVersions"
        ],
        "description": "Delete a BestPractice",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "bestPracticeName",
            "in": "path",
            "description": "The name of the best practice",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionName",
            "in": "path",
            "description": "The name of the version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.ContosoProviderHub/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.CommonTypes.ExtendedLocationType": {
      "type": "string",
      "description": "The supported ExtendedLocation types.",
      "enum": [
        "EdgeZone",
        "CustomLocation"
      ],
      "x-ms-enum": {
        "name": "ExtendedLocationType",
        "modelAsString": true,
        "values": [
          {
            "name": "EdgeZone",
            "value": "EdgeZone",
            "description": "Azure Edge Zones location type"
          },
          {
            "name": "CustomLocation",
            "value": "CustomLocation",
            "description": "Azure Custom Locations type"
          }
        ]
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "BestPractice": {
      "type": "object",
      "description": "A best practice resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BestPracticeProperties",
          "description": "The resource-specific properties for this resource."
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "BestPracticeListResult": {
      "type": "object",
      "description": "The response of a BestPractice list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The BestPractice items on this page",
          "items": {
            "$ref": "#/definitions/BestPractice"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "BestPracticeProperties": {
      "type": "object",
      "description": "Resource-specific properties of a best practice resource",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "The description of the best practice"
        }
      },
      "required": [
        "description"
      ]
    },
    "BestPracticeUpdate": {
      "type": "object",
      "description": "The type used for update operations of the BestPractice.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BestPracticeUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "BestPracticeUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the BestPractice.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the best practice"
        }
      }
    },
    "ExtendedLocation": {
      "type": "object",
      "description": "The complex type of the extended location.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the extended location."
        },
        "type": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.ExtendedLocationType",
          "description": "The type of the extended location."
        }
      }
    }
  },
  "parameters": {}
}
