---
import { Code } from "@astrojs/starlight/components";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { type Sample, getSamples } from "src/utils/samples";
import { parse } from "yaml";

interface Props {
  sample: Sample;
}

export async function getStaticPaths() {
  const samples = await getSamples();
  return samples.map((x) => ({ params: { sample: x.id }, props: { sample: x } }));
}

// const { sample: sampleId } = Astro.params;
const { sample } = Astro.props;
---

<StarlightPage frontmatter={{ title: sample.title }}>
  <p>{sample.description}</p>

  <Code lang="typespec" title="main.tsp" code={sample.files["main.tsp"]!} />
</StarlightPage>
