* @bterlson @markcowl @allenjzhang @timotheeguerin

/packages/typespec-client-generator-core @lmazuel @m-nash @iscai-msft @srnagar @joheredi

/docs/howtos/DataPlane*/ @lmazuel @m-nash @iscai-msft @srnagar @joheredi
