* @bterlson @markcowl @timotheeguerin

/packages/typespec-client-generator-core @lmazuel @m-nash @iscai-msft @srnagar @joheredi
/packages/typespec-ts @maorleger @qiaozha @MaryGao @JialinHuang803 @xirzec
/packages/azure-http-specs/specs/ @iscai-msft @lmazuel @m-nash @joheredi @srnagar @weidongxu-microsoft @tadelesh @jhendrixMSFT 

/docs/howtos/DataPlane*/ @lmazuel @m-nash @iscai-msft @srnagar @joheredi

/packages/typespec-python @iscai-msft @msyyc @tadelesh @l0lawrence @ChenxiJiang333 @kashifkhan
/packages/typespec-java @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @alzimmermsft
