:root {
  --header-height: 50px;
  --sl-color-text-accent: var(--colorBrandForeground1);
  --sl-color-gray-5: var(--colorNeutralStroke1);
  --sl-color-bg-inline-code: var(--ec-frm-edBg);
}

.DocSearch-Button {
  border-radius: 4px !important;

  border: 1px solid var(--neutral-stroke-transparent-rest, rgba(255, 255, 255, 0)) !important;
  background: var(--colorNeutralBackground1) !important;
}

/* Algolia docsearch tweaks */
.DocSearch-Container {
  z-index: 1000 !important;
}

.sl-markdown-content code {
  overflow-wrap: normal;
}
