emit:
  - "@azure-tools/typespec-autorest"
options:
  "@azure-tools/typespec-autorest":
    use-read-only-status-schema: true
    output-file: "resource-manager/{service-name}/{version-status}/{version}/openapi.json"
linter:
  extends:
    - "@azure-tools/typespec-azure-rulesets/resource-manager"
