{
  "swagger": "2.0",
  "info": {
    "title": "ContosoRelationshipsClient",
    "version": "2024-06-01",
    "description": "Contoso Relationship Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DependencyRelationships"
    }
  ],
  "paths": {
    "/{scope}/providers/Microsoft.ContosoRelationships/dependencyOf": {
      "get": {
        "operationId": "DependencyRelationships_ListBySource",
        "tags": [
          "DependencyRelationships"
        ],
        "description": "List DependencyRelationship resources by scope",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DependencyRelationshipListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.ContosoRelationships/dependencyOf/{relationshipName}": {
      "get": {
        "operationId": "DependencyRelationships_Get",
        "tags": [
          "DependencyRelationships"
        ],
        "description": "Get a DependencyRelationship",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "relationshipName",
            "in": "path",
            "description": "The name of the DependencyRelationship",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DependencyRelationship"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DependencyRelationships_CreateOrUpdate",
        "tags": [
          "DependencyRelationships"
        ],
        "description": "Create a DependencyRelationship",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "relationshipName",
            "in": "path",
            "description": "The name of the DependencyRelationship",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DependencyRelationship"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DependencyRelationship' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DependencyRelationship"
            }
          },
          "201": {
            "description": "Resource 'DependencyRelationship' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DependencyRelationship"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DependencyRelationships_Update",
        "tags": [
          "DependencyRelationships"
        ],
        "description": "Update a DependencyRelationship",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "relationshipName",
            "in": "path",
            "description": "The name of the DependencyRelationship",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DependencyRelationshipUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DependencyRelationship"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "DependencyRelationships_Delete",
        "tags": [
          "DependencyRelationships"
        ],
        "description": "Delete a DependencyRelationship",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "relationshipName",
            "in": "path",
            "description": "The name of the DependencyRelationship",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.ContosoRelationships/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.BaseTypes.BaseTypeInfo": {
      "type": "object",
      "description": "An ARM-managed base type descriptor identifying the schema contract a resource conforms to.\nUsed as a parameter to the `@azureBaseType` decorator to indicate which\nbase types a resource conforms to.",
      "properties": {
        "baseType": {
          "type": "string",
          "description": "The base type identifier (for example, \"Agent\")."
        },
        "version": {
          "type": "string",
          "description": "The schema version of the base type."
        }
      },
      "required": [
        "baseType",
        "version"
      ]
    },
    "Azure.ResourceManager.BaseTypes.Relationships.OriginInformation": {
      "type": "object",
      "description": "Metadata describing how a relationship originated.",
      "properties": {
        "relationshipOriginType": {
          "$ref": "#/definitions/Azure.ResourceManager.BaseTypes.Relationships.RelationshipOriginType",
          "description": "The origin type for the relationship."
        },
        "discoveryEngine": {
          "type": "string",
          "description": "The discovery engine that created the relationship."
        },
        "policyAssignmentId": {
          "type": "string",
          "description": "The policy assignment that created the relationship."
        }
      },
      "required": [
        "relationshipOriginType"
      ]
    },
    "Azure.ResourceManager.BaseTypes.Relationships.RelationshipMetadata": {
      "type": "object",
      "description": "Contains metadata about a relationship.",
      "properties": {
        "sourceType": {
          "type": "string",
          "description": "The type of the relationship source."
        },
        "targetType": {
          "type": "string",
          "description": "The type of the relationship target."
        }
      },
      "required": [
        "sourceType",
        "targetType"
      ]
    },
    "Azure.ResourceManager.BaseTypes.Relationships.RelationshipOriginType": {
      "type": "string",
      "description": "The origin type for a relationship.",
      "enum": [
        "UserExplicitlyCreated",
        "SystemDiscoveredByRule"
      ],
      "x-ms-enum": {
        "name": "RelationshipOriginType",
        "modelAsString": true,
        "values": [
          {
            "name": "UserExplicitlyCreated",
            "value": "UserExplicitlyCreated",
            "description": "The relationship was explicitly created by a user."
          },
          {
            "name": "SystemDiscoveredByRule",
            "value": "SystemDiscoveredByRule",
            "description": "The relationship was created automatically by a system rule."
          }
        ]
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "DependencyRelationship": {
      "type": "object",
      "description": "A Contoso dependency relationship anchored at the source scope.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DependencyRelationshipProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DependencyRelationshipListResult": {
      "type": "object",
      "description": "The response of a DependencyRelationship list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DependencyRelationship items on this page",
          "items": {
            "$ref": "#/definitions/DependencyRelationship"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DependencyRelationshipProperties": {
      "type": "object",
      "description": "Properties for a Contoso dependency relationship.",
      "properties": {
        "baseTypes": {
          "type": "array",
          "description": "ARM-managed. Must include the base type descriptor for this resource.",
          "items": {
            "$ref": "#/definitions/Azure.ResourceManager.BaseTypes.BaseTypeInfo"
          },
          "readOnly": true
        },
        "sourceId": {
          "type": "string",
          "description": "The relationship source id."
        },
        "targetId": {
          "type": "string",
          "description": "The relationship target id."
        },
        "targetTenant": {
          "type": "string",
          "description": "The tenant id of the target."
        },
        "metadata": {
          "$ref": "#/definitions/Azure.ResourceManager.BaseTypes.Relationships.RelationshipMetadata",
          "description": "Metadata about the relationship source and target."
        },
        "originInformation": {
          "$ref": "#/definitions/Azure.ResourceManager.BaseTypes.Relationships.OriginInformation",
          "description": "Origin information about the relationship."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "confidenceScore": {
          "type": "number",
          "format": "double",
          "description": "RP-specific confidence score for the relationship.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional RP-specific description of the dependency."
        }
      },
      "required": [
        "baseTypes",
        "sourceId",
        "targetId",
        "targetTenant",
        "metadata"
      ]
    },
    "DependencyRelationshipUpdate": {
      "type": "object",
      "description": "The type used for update operations of the DependencyRelationship.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DependencyRelationshipUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "DependencyRelationshipUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the DependencyRelationship.",
      "properties": {
        "sourceId": {
          "type": "string",
          "description": "The relationship source id."
        },
        "targetId": {
          "type": "string",
          "description": "The relationship target id."
        },
        "targetTenant": {
          "type": "string",
          "description": "The tenant id of the target."
        },
        "metadata": {
          "$ref": "#/definitions/Azure.ResourceManager.BaseTypes.Relationships.RelationshipMetadata",
          "description": "Metadata about the relationship source and target."
        },
        "originInformation": {
          "$ref": "#/definitions/Azure.ResourceManager.BaseTypes.Relationships.OriginInformation",
          "description": "Origin information about the relationship."
        },
        "description": {
          "type": "string",
          "description": "Optional RP-specific description of the dependency."
        }
      }
    }
  },
  "parameters": {}
}
