{
  "swagger": "2.0",
  "info": {
    "title": "ContosoAgentProviderClient",
    "version": "2024-06-01",
    "description": "Contoso Agent Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ContosoAgents"
    },
    {
      "name": "Conversations"
    },
    {
      "name": "Responses"
    }
  ],
  "paths": {
    "/providers/Microsoft.ContosoAgent/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContosoAgent/contosoAgents": {
      "get": {
        "operationId": "ContosoAgents_ListBySubscription",
        "tags": [
          "ContosoAgents"
        ],
        "description": "List ContosoAgent resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContosoAgentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContosoAgent/contosoAgents": {
      "get": {
        "operationId": "ContosoAgents_ListByResourceGroup",
        "tags": [
          "ContosoAgents"
        ],
        "description": "List ContosoAgent resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContosoAgentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContosoAgent/contosoAgents/{contosoAgentName}": {
      "get": {
        "operationId": "ContosoAgents_Get",
        "tags": [
          "ContosoAgents"
        ],
        "description": "Get a ContosoAgent",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "contosoAgentName",
            "in": "path",
            "description": "The name of the ContosoAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContosoAgent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "ContosoAgents_CreateOrUpdate",
        "tags": [
          "ContosoAgents"
        ],
        "description": "Create a ContosoAgent",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "contosoAgentName",
            "in": "path",
            "description": "The name of the ContosoAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContosoAgent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ContosoAgent' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContosoAgent"
            }
          },
          "201": {
            "description": "Resource 'ContosoAgent' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContosoAgent"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ContosoAgents_Update",
        "tags": [
          "ContosoAgents"
        ],
        "description": "Update a ContosoAgent",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "contosoAgentName",
            "in": "path",
            "description": "The name of the ContosoAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContosoAgentTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContosoAgent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "ContosoAgents_Delete",
        "tags": [
          "ContosoAgents"
        ],
        "description": "Delete a ContosoAgent",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "contosoAgentName",
            "in": "path",
            "description": "The name of the ContosoAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContosoAgent/contosoAgents/{contosoAgentName}/contosoConversations": {
      "get": {
        "operationId": "Conversations_ListByAgent",
        "tags": [
          "Conversations"
        ],
        "description": "List ContosoConversation resources by ContosoAgent",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "contosoAgentName",
            "in": "path",
            "description": "The name of the ContosoAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContosoConversationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContosoAgent/contosoAgents/{contosoAgentName}/contosoConversations/{contosoConversationName}": {
      "get": {
        "operationId": "Conversations_Get",
        "tags": [
          "Conversations"
        ],
        "description": "Get a ContosoConversation",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "contosoAgentName",
            "in": "path",
            "description": "The name of the ContosoAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "contosoConversationName",
            "in": "path",
            "description": "The name of the ContosoConversation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContosoConversation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "Conversations_CreateOrUpdate",
        "tags": [
          "Conversations"
        ],
        "description": "Create a ContosoConversation",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "contosoAgentName",
            "in": "path",
            "description": "The name of the ContosoAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "contosoConversationName",
            "in": "path",
            "description": "The name of the ContosoConversation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContosoConversation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ContosoConversation' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContosoConversation"
            }
          },
          "201": {
            "description": "Resource 'ContosoConversation' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContosoConversation"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Conversations_Update",
        "tags": [
          "Conversations"
        ],
        "description": "Update a ContosoConversation",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "contosoAgentName",
            "in": "path",
            "description": "The name of the ContosoAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "contosoConversationName",
            "in": "path",
            "description": "The name of the ContosoConversation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContosoConversationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContosoConversation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "Conversations_Delete",
        "tags": [
          "Conversations"
        ],
        "description": "Delete a ContosoConversation",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "contosoAgentName",
            "in": "path",
            "description": "The name of the ContosoAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "contosoConversationName",
            "in": "path",
            "description": "The name of the ContosoConversation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContosoAgent/contosoAgents/{contosoAgentName}/contosoResponses": {
      "get": {
        "operationId": "Responses_ListByAgent",
        "tags": [
          "Responses"
        ],
        "description": "List ContosoResponse resources by ContosoAgent",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "contosoAgentName",
            "in": "path",
            "description": "The name of the ContosoAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContosoResponseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContosoAgent/contosoAgents/{contosoAgentName}/contosoResponses/{contosoResponseName}": {
      "get": {
        "operationId": "Responses_Get",
        "tags": [
          "Responses"
        ],
        "description": "Get a ContosoResponse",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "contosoAgentName",
            "in": "path",
            "description": "The name of the ContosoAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "contosoResponseName",
            "in": "path",
            "description": "The name of the ContosoResponse",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContosoResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "Responses_CreateOrUpdate",
        "tags": [
          "Responses"
        ],
        "description": "Create a ContosoResponse",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "contosoAgentName",
            "in": "path",
            "description": "The name of the ContosoAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "contosoResponseName",
            "in": "path",
            "description": "The name of the ContosoResponse",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContosoResponse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ContosoResponse' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContosoResponse"
            }
          },
          "201": {
            "description": "Resource 'ContosoResponse' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContosoResponse"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Responses_Update",
        "tags": [
          "Responses"
        ],
        "description": "Update a ContosoResponse",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "contosoAgentName",
            "in": "path",
            "description": "The name of the ContosoAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "contosoResponseName",
            "in": "path",
            "description": "The name of the ContosoResponse",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContosoResponseUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContosoResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "Responses_Delete",
        "tags": [
          "Responses"
        ],
        "description": "Delete a ContosoResponse",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "contosoAgentName",
            "in": "path",
            "description": "The name of the ContosoAgent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "contosoResponseName",
            "in": "path",
            "description": "The name of the ContosoResponse",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.BaseTypes.Agents.AgentDefinition": {
      "type": "object",
      "description": "Inline agent definition describing the model and behavior of the agent.\nContains properties shared across all deployment models.",
      "properties": {
        "model": {
          "type": "string",
          "description": "Model identifier (RP-defined)."
        }
      },
      "required": [
        "model"
      ]
    },
    "Azure.ResourceManager.BaseTypes.Agents.AgentRole": {
      "type": "string",
      "description": "Roles for agent messages.",
      "enum": [
        "user",
        "developer",
        "assistant"
      ],
      "x-ms-enum": {
        "name": "AgentRole",
        "modelAsString": true,
        "values": [
          {
            "name": "User",
            "value": "user",
            "description": "The user role."
          },
          {
            "name": "Developer",
            "value": "developer",
            "description": "A developer role."
          },
          {
            "name": "Assistant",
            "value": "assistant",
            "description": "An assistant role."
          }
        ]
      }
    },
    "Azure.ResourceManager.BaseTypes.Agents.AgentToolTypeEntry": {
      "type": "object",
      "description": "A tool binding for an agent, aligned with Azure AI Foundry-style tool bindings.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Tool type discriminator. Must be one of the publicly documented Azure AI Foundry tool types."
        },
        "name": {
          "type": "string",
          "description": "Tool name/identifier."
        }
      },
      "required": [
        "type",
        "name"
      ]
    },
    "Azure.ResourceManager.BaseTypes.Agents.InputMessage": {
      "type": "object",
      "description": "A single input message provided to the model.",
      "properties": {
        "role": {
          "$ref": "#/definitions/Azure.ResourceManager.BaseTypes.Agents.AgentRole",
          "description": "The role of the message author (for example, user, system, or developer)."
        },
        "content": {
          "type": "string",
          "description": "The content of the input message."
        }
      },
      "required": [
        "role",
        "content"
      ]
    },
    "Azure.ResourceManager.BaseTypes.Agents.ResponseStatus": {
      "type": "string",
      "description": "The status of a response.",
      "enum": [
        "completed",
        "failed",
        "cancelled",
        "incomplete",
        "queued",
        "in_progress"
      ],
      "x-ms-enum": {
        "name": "ResponseStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Completed",
            "value": "completed",
            "description": "The response completed successfully."
          },
          {
            "name": "Failed",
            "value": "failed",
            "description": "The response failed."
          },
          {
            "name": "Cancelled",
            "value": "cancelled",
            "description": "The response was cancelled."
          },
          {
            "name": "Incomplete",
            "value": "incomplete",
            "description": "The response is incomplete."
          },
          {
            "name": "Queued",
            "value": "queued",
            "description": "The response is queued for execution."
          },
          {
            "name": "InProgress",
            "value": "in_progress",
            "description": "The response is in progress."
          }
        ]
      },
      "readOnly": true
    },
    "Azure.ResourceManager.BaseTypes.BaseTypeInfo": {
      "type": "object",
      "description": "An ARM-managed base type descriptor identifying the schema contract a resource conforms to.\nUsed as a parameter to the `@azureBaseType` decorator to indicate which\nbase types a resource conforms to.",
      "properties": {
        "baseType": {
          "type": "string",
          "description": "The base type identifier (for example, \"Agent\")."
        },
        "version": {
          "type": "string",
          "description": "The schema version of the base type."
        }
      },
      "required": [
        "baseType",
        "version"
      ]
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "ContosoAgent": {
      "type": "object",
      "description": "A Contoso Agent resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ContosoAgentProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ContosoAgentListResult": {
      "type": "object",
      "description": "The response of a ContosoAgent list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ContosoAgent items on this page",
          "items": {
            "$ref": "#/definitions/ContosoAgent"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ContosoAgentProperties": {
      "type": "object",
      "description": "RP-specific properties for the Contoso agent (Platform deployment model)",
      "properties": {
        "baseTypes": {
          "type": "array",
          "description": "ARM-managed. Must include the base type descriptor for this resource.",
          "items": {
            "$ref": "#/definitions/Azure.ResourceManager.BaseTypes.BaseTypeInfo"
          },
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Human-friendly name."
        },
        "description": {
          "type": "string",
          "description": "Purpose/behavior summary."
        },
        "definition": {
          "$ref": "#/definitions/Azure.ResourceManager.BaseTypes.Agents.AgentDefinition",
          "description": "Inline agent definition."
        },
        "tools": {
          "type": "array",
          "description": "Tool bindings. Writable in the Platform deployment model.",
          "items": {
            "$ref": "#/definitions/Azure.ResourceManager.BaseTypes.Agents.AgentToolTypeEntry"
          }
        },
        "modelDeploymentRef": {
          "type": "string",
          "description": "Optional RP-specific reference to an underlying model deployment."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      },
      "required": [
        "baseTypes",
        "displayName",
        "description",
        "definition"
      ]
    },
    "ContosoAgentTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in ContosoAgent resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ContosoConversation": {
      "type": "object",
      "description": "A conversation child resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ContosoConversationProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ContosoConversationListResult": {
      "type": "object",
      "description": "The response of a ContosoConversation list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ContosoConversation items on this page",
          "items": {
            "$ref": "#/definitions/ContosoConversation"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ContosoConversationProperties": {
      "type": "object",
      "description": "RP-specific properties for conversations",
      "properties": {
        "conversationId": {
          "type": "string",
          "description": "Unique conversation identifier. Read-only (set by the service on creation).",
          "readOnly": true
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp of when the conversation was created. Read-only.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "instructions": {
          "type": "string",
          "description": "System prompt / behavioral instructions."
        }
      },
      "required": [
        "instructions"
      ]
    },
    "ContosoConversationUpdate": {
      "type": "object",
      "description": "The type used for update operations of the ContosoConversation.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ContosoConversationUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "ContosoConversationUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the ContosoConversation.",
      "properties": {
        "instructions": {
          "type": "string",
          "description": "System prompt / behavioral instructions."
        }
      }
    },
    "ContosoResponse": {
      "type": "object",
      "description": "A response child resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ContosoResponseProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ContosoResponseListResult": {
      "type": "object",
      "description": "The response of a ContosoResponse list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ContosoResponse items on this page",
          "items": {
            "$ref": "#/definitions/ContosoResponse"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ContosoResponseProperties": {
      "type": "object",
      "description": "RP-specific properties for responses",
      "properties": {
        "responseId": {
          "type": "string",
          "description": "Unique response identifier. Read-only (set by the service).",
          "readOnly": true
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp of when the response was created. Read-only.",
          "readOnly": true
        },
        "model": {
          "type": "string",
          "description": "Model ID used to generate the response. May be specified on request to override the agent default; read-only in GET."
        },
        "status": {
          "$ref": "#/definitions/Azure.ResourceManager.BaseTypes.Agents.ResponseStatus",
          "description": "The status of the response. Read-only.",
          "readOnly": true
        },
        "input": {
          "$ref": "#/definitions/Azure.ResourceManager.BaseTypes.Agents.InputMessage",
          "description": "Content input to the model. Required on create."
        },
        "previous_response_id": {
          "type": "string",
          "description": "ID of a previous response for multi-turn chaining. Writable on create.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      },
      "required": [
        "input"
      ]
    },
    "ContosoResponseUpdate": {
      "type": "object",
      "description": "The type used for update operations of the ContosoResponse.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ContosoResponseUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "ContosoResponseUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the ContosoResponse.",
      "properties": {
        "model": {
          "type": "string",
          "description": "Model ID used to generate the response. May be specified on request to override the agent default; read-only in GET."
        },
        "input": {
          "$ref": "#/definitions/Azure.ResourceManager.BaseTypes.Agents.InputMessage",
          "description": "Content input to the model. Required on create."
        }
      }
    }
  },
  "parameters": {}
}
