{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.OperationsTest",
    "version": "2022-11-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "OperationStatuses"
    }
  ],
  "paths": {
    "/providers/Microsoft.OperationStatusSample/locations/{location}/operationStatuses/{id}": {
      "get": {
        "operationId": "OperationStatuses_GetStatus",
        "tags": [
          "OperationStatuses"
        ],
        "description": "Get a MyOpStatus",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the operationStatus resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MyOpStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.OperationStatusSample/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OperationStatusSample/locations/{location}/operationStatuses/{id}": {
      "get": {
        "operationId": "OperationStatuses_GetSubscriptionStatus",
        "tags": [
          "OperationStatuses"
        ],
        "description": "Get a MySubOpStatus",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the operationStatus resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MySubOpStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationStatusSample/locations/{location}/operationStatuses/{id}": {
      "get": {
        "operationId": "OperationStatuses_GetRgStatus",
        "tags": [
          "OperationStatuses"
        ],
        "description": "Get a MyResourceGroupStatus",
        "parameters": [
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the operationStatus resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MyResourceGroupStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "MyOpStatus": {
      "type": "object",
      "description": "The standard operation status",
      "properties": {
        "status": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The operation status"
        },
        "id": {
          "type": "string",
          "description": "The unique identifier for the operationStatus resource"
        },
        "name": {
          "type": "string",
          "description": "The name of the  operationStatus resource",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Operation start time",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "Operation complete time",
          "readOnly": true
        },
        "percentComplete": {
          "type": "number",
          "format": "double",
          "description": "The progress made toward completing the operation",
          "readOnly": true
        },
        "error": {
          "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorDetail",
          "description": "Errors that occurred if the operation ended with Canceled or Failed status",
          "readOnly": true
        }
      },
      "required": [
        "status",
        "id"
      ]
    },
    "MyResourceGroupStatus": {
      "type": "object",
      "description": "Standard Azure Resource Manager operation status response",
      "properties": {
        "status": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The operation status"
        },
        "id": {
          "type": "string",
          "description": "The unique identifier for the operationStatus resource"
        },
        "name": {
          "type": "string",
          "description": "The name of the  operationStatus resource",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Operation start time",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "Operation complete time",
          "readOnly": true
        },
        "percentComplete": {
          "type": "number",
          "format": "double",
          "description": "The progress made toward completing the operation",
          "readOnly": true
        },
        "error": {
          "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorDetail",
          "description": "Errors that occurred if the operation ended with Canceled or Failed status",
          "readOnly": true
        }
      },
      "required": [
        "status",
        "id"
      ]
    },
    "MySubOpStatus": {
      "type": "object",
      "description": "The standard operation status at the subscription level]",
      "properties": {
        "status": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The operation status"
        },
        "id": {
          "type": "string",
          "description": "The unique identifier for the operationStatus resource"
        },
        "name": {
          "type": "string",
          "description": "The name of the  operationStatus resource",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Operation start time",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "Operation complete time",
          "readOnly": true
        },
        "percentComplete": {
          "type": "number",
          "format": "double",
          "description": "The progress made toward completing the operation",
          "readOnly": true
        },
        "error": {
          "$ref": "../../../../../../../../../specs/resource-manager/common-types/v5/types.json#/definitions/ErrorDetail",
          "description": "Errors that occurred if the operation ended with Canceled or Failed status",
          "readOnly": true
        }
      },
      "required": [
        "status",
        "id"
      ]
    }
  },
  "parameters": {}
}
