{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Confluent",
    "version": "2021-03-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Organizations"
    },
    {
      "name": "MarketplaceAgreements"
    }
  ],
  "paths": {
    "/providers/Microsoft.Confluent/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Confluent/agreements": {
      "get": {
        "operationId": "MarketplaceAgreements_ListBySubscription",
        "tags": [
          "MarketplaceAgreements"
        ],
        "description": "List ConfluentAgreementResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfluentAgreementResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Confluent/agreements/default": {
      "put": {
        "operationId": "MarketplaceAgreements_Create",
        "tags": [
          "MarketplaceAgreements"
        ],
        "description": "Create a new marketplace agreement.",
        "parameters": [
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "agreement",
            "in": "body",
            "description": "The agreement details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfluentAgreementResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfluentAgreementResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Confluent/organizations": {
      "get": {
        "operationId": "Organizations_ListBySubscription",
        "tags": [
          "Organizations"
        ],
        "description": "List Organization resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OrganizationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/organizations": {
      "get": {
        "operationId": "Organizations_ListByResourceGroup",
        "tags": [
          "Organizations"
        ],
        "description": "List Organization resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OrganizationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/organizations/{organizationName}": {
      "get": {
        "operationId": "Organizations_Get",
        "tags": [
          "Organizations"
        ],
        "description": "Get a Organization",
        "parameters": [
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "organizationName",
            "in": "path",
            "description": "Organization resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "Organizations_CreateOrUpdate",
        "tags": [
          "Organizations"
        ],
        "description": "Create a Organization",
        "parameters": [
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "organizationName",
            "in": "path",
            "description": "Organization resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create Parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Organization' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          },
          "201": {
            "description": "Resource 'Organization' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Organization"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Organizations_Update",
        "tags": [
          "Organizations"
        ],
        "description": "Update a Organization",
        "parameters": [
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "organizationName",
            "in": "path",
            "description": "Organization resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrganizationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "Organizations_Delete",
        "tags": [
          "Organizations"
        ],
        "description": "Delete a Organization",
        "parameters": [
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "organizationName",
            "in": "path",
            "description": "Organization resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "ConfluentAgreementResource": {
      "type": "object",
      "description": "The details of a marketplace agreement.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConfluentAgreementResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ConfluentAgreementResourceListResult": {
      "type": "object",
      "description": "The response of a ConfluentAgreementResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ConfluentAgreementResource items on this page",
          "items": {
            "$ref": "#/definitions/ConfluentAgreementResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ConfluentAgreementResourceProperties": {
      "type": "object",
      "description": "The details of the agreement.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource."
        }
      },
      "required": [
        "provisioningState"
      ]
    },
    "MediumString": {
      "type": "string",
      "description": "Shorthand for setting length limit.",
      "minLength": 5,
      "maxLength": 50
    },
    "OfferDetail": {
      "type": "object",
      "description": "Details of the product offering.",
      "properties": {
        "publisherId": {
          "$ref": "#/definitions/MediumString",
          "description": "Id of the product publisher."
        },
        "id": {
          "$ref": "#/definitions/MediumString",
          "description": "Id of the product offering."
        },
        "planId": {
          "$ref": "#/definitions/MediumString",
          "description": "Id of the product offer plan."
        },
        "planName": {
          "$ref": "#/definitions/MediumString",
          "description": "Name of the product offer plan."
        },
        "termUnit": {
          "$ref": "#/definitions/ShortString",
          "description": "Offer plan term unit."
        },
        "status": {
          "$ref": "#/definitions/OfferStatus",
          "description": "SaaS offer status."
        }
      },
      "required": [
        "publisherId",
        "id",
        "planId",
        "planName",
        "termUnit",
        "status"
      ]
    },
    "OfferDetailUpdate": {
      "type": "object",
      "description": "Details of the product offering.",
      "properties": {
        "publisherId": {
          "$ref": "#/definitions/MediumString",
          "description": "Id of the product publisher."
        },
        "id": {
          "$ref": "#/definitions/MediumString",
          "description": "Id of the product offering."
        },
        "planId": {
          "$ref": "#/definitions/MediumString",
          "description": "Id of the product offer plan."
        },
        "planName": {
          "$ref": "#/definitions/MediumString",
          "description": "Name of the product offer plan."
        },
        "termUnit": {
          "$ref": "#/definitions/ShortString",
          "description": "Offer plan term unit."
        },
        "status": {
          "$ref": "#/definitions/OfferStatus",
          "description": "SaaS offer status."
        }
      }
    },
    "OfferStatus": {
      "type": "string",
      "description": "SaaS offer status.",
      "enum": [
        "Started",
        "PendingFulfillmentStart",
        "InProgress",
        "Subscribed",
        "Suspended",
        "Reinstated",
        "Succeeded",
        "Failed",
        "Unsubscribed",
        "Updating"
      ],
      "x-ms-enum": {
        "name": "OfferStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Started",
            "value": "Started",
            "description": "Offer started."
          },
          {
            "name": "PendingFulfillmentStart",
            "value": "PendingFulfillmentStart",
            "description": "Offer pending fulfillment start."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Offer in progress."
          },
          {
            "name": "Subscribed",
            "value": "Subscribed",
            "description": "Offer subscribed."
          },
          {
            "name": "Suspended",
            "value": "Suspended",
            "description": "Offer suspended."
          },
          {
            "name": "Reinstated",
            "value": "Reinstated",
            "description": "Offer reinstated."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Offer succeeded."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Offer failed."
          },
          {
            "name": "Unsubscribed",
            "value": "Unsubscribed",
            "description": "Offer unsubscribed."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Offer updating."
          }
        ]
      },
      "readOnly": true
    },
    "Organization": {
      "type": "object",
      "description": "Details of the Confluent organization.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OrganizationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../../specs/resource-manager/common-types/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "OrganizationListResult": {
      "type": "object",
      "description": "The response of a Organization list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Organization items on this page",
          "items": {
            "$ref": "#/definitions/Organization"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OrganizationProperties": {
      "type": "object",
      "description": "Details of the Confluent organization.",
      "properties": {
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "description": "UTC Time when Organization resource was created.",
          "readOnly": true
        },
        "organizationId": {
          "type": "string",
          "description": "Id of the Confluent organization.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "ssoUrl": {
          "$ref": "#/definitions/Uri",
          "description": "Single sign-on url for the Confluent organization.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "offerDetail": {
          "$ref": "#/definitions/OfferDetail",
          "description": "Details of the product offering."
        },
        "userDetail": {
          "$ref": "#/definitions/UserDetail",
          "description": "Subscriber details."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource."
        }
      },
      "required": [
        "organizationId",
        "ssoUrl",
        "offerDetail",
        "userDetail",
        "provisioningState"
      ]
    },
    "OrganizationUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Organization.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/OrganizationUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "OrganizationUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the Organization.",
      "properties": {
        "offerDetail": {
          "$ref": "#/definitions/OfferDetailUpdate",
          "description": "Details of the product offering."
        },
        "userDetail": {
          "$ref": "#/definitions/UserDetailUpdate",
          "description": "Subscriber details."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource."
        }
      }
    },
    "ShortString": {
      "type": "string",
      "description": "Shorthand for setting length limit.",
      "maxLength": 25
    },
    "Uri": {
      "type": "string",
      "description": "A string that represents a URI."
    },
    "UserDetail": {
      "type": "object",
      "description": "Details of the subscriber",
      "properties": {
        "firstName": {
          "$ref": "#/definitions/MediumString",
          "description": "Subscriber first name."
        },
        "lastName": {
          "$ref": "#/definitions/MediumString",
          "description": "Subscriber last name."
        },
        "emailAddress": {
          "$ref": "#/definitions/email",
          "description": "Subscriber email address."
        }
      },
      "required": [
        "firstName",
        "lastName",
        "emailAddress"
      ]
    },
    "UserDetailUpdate": {
      "type": "object",
      "description": "Details of the subscriber",
      "properties": {
        "firstName": {
          "$ref": "#/definitions/MediumString",
          "description": "Subscriber first name."
        },
        "lastName": {
          "$ref": "#/definitions/MediumString",
          "description": "Subscriber last name."
        },
        "emailAddress": {
          "$ref": "#/definitions/email",
          "description": "Subscriber email address."
        }
      }
    },
    "email": {
      "type": "string",
      "description": "Reusable representation of an email address",
      "pattern": "\\w+@\\w+\\.\\w+"
    }
  },
  "parameters": {}
}
